.cargado{

  width: 80%;
padding: 30px;
height: 350px;
  position: absolute;
  background: white;
  top:2%;
  left: 5%;
}

.carga{
  border: 15px solid white;
  border-top-color: #F4266A;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;

}

@keyframes girar {
  from{transform: rotate(0deg);}
  to {transform: rotate(360deg);}

}
